.env
.env.*

*.iml
.idea
.vscode

.tool-versions

# npm/yarn
node_modules/
.yarn
yarn-error.log

# build outputs
dist/
out/

# editor / temp
*.swp
*.swo
tmp/

# test
coverage/

db-data/*
.DS_Store

# tex build files
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv

